<!doctype html>
<html ng-app="todoApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- <script  src = "angular-1.5.0-rc.2/angular.min.js"></script> -->
  <script src="todo.js"></script>
  <link rel="stylesheet" href="/css/form.css">
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/heroic-features.css" rel="stylesheet"> -->
</head>

<body ng-controller="TodoListController as todoList">
  <div class="showsum">
    <div ng-repeat="show in todoList.data">
          {{show.namebook}} <br>
          {{show.price}} <hr>
    </div>
  </div>
  <div class="picture">
    <img src="img/hp_1.jpg" alt="" ng-click="todoList.add('harry potter ศิลาอาถรรพ' , 100 , 1)">
    <img src="img/hp_2.jpg" alt="" ng-click="todoList.add('harry potter ห้องแห่งความลับ' , 100, 2)">
    <img src="img/hp_3.jpg" alt="" ng-click="todoList.add('harry potter นักโทษแห่งอัซคาบัน ' ,100 ,3)">
    <br>
    <img src="img/hp_4.jpg" alt="" ng-click="todoList.add('harry potter ถ้วยอัคนี',100,4)">
    <img src="img/hp_5.jpg" alt="" ng-click="todoList.add('harry potter ภาคีนกฟีนิกซ์',100,5)">
    <img src="img/hp_6.jpg" alt="" ng-click="todoList.add('harry potter เจ้าชายเลือดผสม',100,6)">
    <br>
    <img src="img/hp_7.jpg" alt="" ng-click="todoList.add('harry potter เครื่องรางยมทูต',100,7)">
  </div>
</body>

</html>
