<!doctype html>
<html ng-app="todoApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- <script  src = "angular-1.5.0-rc.2/angular.min.js"></script> -->
  <script src="todo.js"></script>
  <link rel="stylesheet" href="/css/form.css">
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/heroic-features.css" rel="stylesheet"> -->
</head>

<body ng-controller="TodoListController as todoList">
  <div align="left">
    <button type="button" ng-click="todoList.add('1' ,'harry potter ศิลาอาถรรพ', 100)">1</button>
    <button type="button" ng-click="todoList.add('2' ,'harry potter ห้องแห่งความลับ', 100)">2</button>
    <button type="button" ng-click="todoList.add('3' ,'harry potter นักโทษแห่งอัซคาบัน', 100)">3</button>
    <button type="button" ng-click="todoList.add('4' ,'harry potter ถ้วยอัคนี', 100)">4</button>
    <button type="button" ng-click="todoList.add('5' ,'harry potter ภาคีนกฟีนิกซ์', 100)">5</button>
    <button type="button" ng-click="todoList.add('6' ,'harry potter เจ้าชายเลือดผสม', 100)">6</button>
    <button type="button" ng-click="todoList.add( '7' ,'harry potter เครื่องรางยมทูต',100)">7</button>
  </div>
  <hr>
  <div ng-repeat="show in todoList.list">
      {{show.name}} {{show.price}} ฿ <br>
  </div>
  <button type="button" ng-click="todoList.cal()">cal</button>
</body>

</html>