<!doctype html>
<html ng-app="todoApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- <script  src = "angular-1.5.0-rc.2/angular.min.js"></script> -->
  <script src="todo.js"></script>
  <link rel="stylesheet" href="/css/form.css">
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/heroic-features.css" rel="stylesheet"> -->
</head>

<body ng-controller="TodoListController as todoList">
  <div align="left">
    ราคา{{todoList.total}}
  </div>
  <div align="right">
     <div ng-repeat="product in todoList.products">
       {{product.name}} <br>
       {{product.price | currency:"฿ "}} <br>
       <img src="{{product.pic}}" alt=""> <br>
       <input class="add-button" type="button" ng-click="todoList.add(product)" value="Add to Cart" />
     </div>
  </div>
</body>
</html>